<% @left = render 'layouts/top' %>
<% @right = render 'static_pages/home_r' %>
<div class="content vk wide">
<div>Меня всегда можно найти <%= link_to "ВКонтакте", "https://vk.com/malus" %></div>
</div>