<% @left = render 'layouts/top' %>
<% @right = render 'static_pages/home_r' %>
<div class="content vk wide">
<div>
Сайт сделан в качестве курсовой работы по Базам Данных, <%= link_to "ИТМО", "http://www.ifmo.ru/" %> 2014 ©<br><br>
Информация представлена исключительно для ознакомления.<br>Все права на марки, логотипы и прочую информацию относительно автомобилей принадлежат правообладателям. Остальная информация выдумана и любые совпадения случайны.<br><br>
<h4>Немного о приложении</h4>
<p>Изначально база была в Oracle 11g, находилась на универеском серваке и запускалась все это посредством танца с бубном вокруг адаптера для Ruby on Rails (activerecord-oracle_enhanced-adapter) и интерфейса оракла для раби (ruby-oci8), клиентом оракла под винду (Oracle Instant Client) и туннелем через putty на сервак с портом 1521. Сейчас все переехало в PostgreSQL и живет на Heroku.</p>
<p>Помимо обычного акка есть акк админа/менеджера. В нем организована часть по поиску, отображению и изменению/добавлению инфы о заказах, клиентах, моделях и обо всем-всем-всем. Доступна ограниченная админка, для доcтупа к полной версии стучитесь в контач.</p>
<strong>Логин: test@batman.org<br>Пароль: qwe123asd<br><br></strong>
<%= link_to "Схема БД", "http://localhost:3000/assets/scheme.jpg", target:"_blank" %>
</div>

</div>