<div title="Белый" class="clr-selected" style="background:#fff">X</div>
<div title="Черный" style="background:#000"></div>
<div title="Серебристый" style="background:#ccc"></div>
<div title="Красная роза" style="background:#D62B2B"></div>
<div title="Оранжевая морковка" style="background:#F0871F"></div>
<div title="Желтое солнце" style="background:#FFFC47"></div>
<div title="Ядовитый зеленый" style="background:#2BD62B"></div>
<div title="Зеленая трава" style="background:#088F01"></div>
<div title="Голубое небо" style="background:#2BD6D6"></div>
<div title="Синее море" style="background:#2B86D6"></div>
<div title="Пурпурный космос" style="background:#972BD6"></div>
<a class="new-color">Выбрать свой цвет</a>