<h1>Админ-навигация</h1>
<ul>
	<li><%= link_to "Заказы", orders_path %></li>
	<li><%= link_to "Клиенты", people_path %></li>
</ul>
<ul>
	<li><%= link_to "Все модели", models_path %></li>
	<li><%= link_to "Наши услуги", preparations_path %></li>
</ul>