<header>
<nav>
	<table class="top-nav">
	<tr><td style="width:300px;"><div class="logo"><%= link_to raw("#{image_tag("logo.png", :border => 0)} Batman Cars"), root_path, class:"c-link" %></div></td>
		<td><ul>
			<li>Dodge ↓<%= render 'models/model', man_id: 3 %></li>
			<li>Chrysler ↓<%= render 'models/model', man_id: 2 %></li>
			<li>Jeep ↓<%= render 'models/model', man_id: 1 %></li>
			<li>Инфо</li>
			<li>Контакты</li>
			<li>Вход</li>
		</ul></td>
		<td>
			
		</td></tr>
	</table>
</nav>
</header>