<h2>Самые продаваемые</h2>
<ul>
	<% TopCars.limit(10).each do |model| %>
		<li>
			<%= link_to "#{Model.find(model.model_id).manufacturer.name} #{Model.find(model.model_id).name} (#{number_to_human model.count, precision: 0})", model_path(model.model_id), class:'c-link' %>
		</li>
	<% end %>
</ul>